table {
  tr {
    td, th {
      padding: 0.5em 0.75em;
      border: 1px solid $drupal-blue;
      font-size: 0.9em;
    }
    th {
      background-color: $th-bg;
      color: $th-fg;
      text-transform: uppercase;
      font-weight: normal;
      text-spacing: -0.1em;
    }
    td {
      vertical-align: top;
      ul {
        margin: 0;
        padding-left: 15px;
        li {
          line-height: 1.4em;
        }
      }
      &.views-field-field-upgrade-status:before {
        font-family: FontAwesome;
        font-size: 1.5em;
        position: relative;
        top: 3px;
        padding-right: 5px;
      }
      &.state-branch {
        &:before {
          content: '\f085';
          color: $state-red;
        }
      }
      &.state-none {
        &:before {
          content: '\f071';
          color: $state-red;
        }
      }
      &.state-dev {
        &:before {
          content: '\f085';
          color: $state-orange;
        }
      }
      &.state-rc {
        &:before {
          content: '\f00c';
          color: $state-orange;
        }
      }
      &.state-alpha {
        &:before {
          content: '\f00c';
          color: $state-orange;
        }
      }
      &.state-beta {
        &:before {
          content: '\f00c';
          color: $state-yellow;
        }
      }
      &.state-full {
        &:before {
          content: '\f00c';
          color: $state-green;
        }
      }
    }
    &.even {
      background-color: $tr-bg;
    }
    &.odd {
      background-color: lighten($tr-bg, 5%);
    }
  }
}
