.node-teaser.node-update {
  h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: rhythm(0.25);
    a {
      text-decoration: none;
    }
  }
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: rhythm(1);
}
