
.sparrow-2col {
    /*  overflow: hidden;  */
}

.sparrow-2col .panel-col-first {
    float: left;
    width: 50%;
}
* html .sparrow-2col .panel-col-first {
    width: 49.9%;
}

.sparrow-2col .panel-col-first .inside {
    margin: 0 .5em 1em 0;
}

.sparrow-2col .panel-col-last {
    float: left;
    width: 50%;
}
* html .sparrow-2col .panel-col-last {
    width: 49.9%;
}

.sparrow-2col .panel-col-last .inside {
    margin: 0 0 1em .5em;
}
